#scroll-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item{
    
    height: 50px;
    background-color: aliceblue;
    border: 1px solid cyan;
    border-radius: 5px;
}